/***********Ограничения**********/

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: roboto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/**********Голова**************/

.kontakt-icon {
  justify-content: center;
  align-items: center;
  float: left;
  margin-right: 10px;
  fill: #757575;
}

.logo-header {
  font-family: Raleway;

  font-weight: 700;
  font-size: 26px;
  line-height: 1, 2;
  letter-spacing: 0.03em;
}

.logo-header-left {
  color: #2196f3;
}
.logo-header-right {
  color: #212121;
}
.nav {
  display: flex;
  align-items: center;
}

.kontakt {
  display: flex;
  align-items: center;
}
.header-kontakt {
  margin-left: auto;
  display: flex;
}
.header-logo {
  display: flex;
  align-items: center;
}
.nav-link {
  margin-right: 50px;
}
.logo-header-right {
  margin-right: 90px;
}
.link-kontakt {
  margin-right: 50px;
}
.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.page-header {
  display: flex;
  width: 100%;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.nav-link.active::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 4px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

.link-kontakt {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-kontakt:hover,
.link-kontakt:focus {
  color: #2196f3;
}
.link-kontakt:hover .kontakt-icon,
.link-kontakt:focus .kontakt-icon {
  fill: #2196f3;
}

/************ФУТЕР********/
.network-wrapper {
  display: flex;
}

.network-left {
  margin-right: 70px;
}

.footer-network-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-network-link:focus,
.footer-network-link:hover {
  background-color: #2196f3;
}

.footer-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-network {
  display: flex;
}

.footer-icon {
  fill: #ffff;
}

.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 2;
  letter-spacing: 0.03em;
}

.logo-footer-left {
  color: #2196f3;
}
.logo-footer-right {
  color: #ffffff;
}
.footer {
  background-color: #2f303a;
}

.footer-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  padding-top: 20px;
}
.footer-li {
  margin-top: 9px;
}

.footer-heading {
  font-family: roboto;
  font-style: 700;
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 12px;
}

.sub-text {
  font-family: roboto;
  font-style: 700;
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 20px;
}

.sub-input {
  width: 358px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background: #2F303A;
display: block;
}

.sub-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding: 10px 32px;
  border: none;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 50px;
  width: 200px;
  position: relative;
  display: flex;
  margin-left:12px
}

.sub {
  margin-left: 93px;
}

.footer-btn {
  display:flex;
}

.sub-icon {position: absolute;
  right: 13px;
  margin-right: 10px;
}



/***ХИРО с КНОПКОЙ (ИНДЕКС ШТМЛ)***/

.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Imgback.jpg);
  background-size: auto;
  padding: 200px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-btn {
  margin-top: 30px;
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding: 10px 32px;
  border: none;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:focus {
  background-color: #188ce8;
}
.hero-btn:hover {
  background-color: #188ce8;
}

/*****ПРЕИМУЩЕСТВА (ИНДЕКС ШТМЛ)*****/

.benefits-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-text-icon {
  background: #f5f4fa;
  border-radius: 4px;
  padding: 33px 100px 33px 100px;

  margin-bottom: 30px;
}

.benefits {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip-path: inset(50%);
  margin: -1px;
}

.list-text {
  width: 270px;
}

.list-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.about {
  padding-bottom: 94px;
  padding-top: 94px;
}

.about-list {
  display: flex;
  justify-content: space-between;
}

.list-subtitle {
  margin-bottom: 10px;
}

/**ЧЕМ МЫ ЗАНИМАЕМСЯ (ИНДЕКС ШТМЛ)**/
.subject-wrapp {
  position: relative;
}

.subject-work-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  position: absolute;
  bottom: 0%;
  padding: 27px 82px 27px 83px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #fff;
  width: 100%;
  text-transform: uppercase;
}

.work {
  padding-bottom: 94px;
  padding-top: 94;
}

.subject {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 50px;
}
.subject-work {
  display: flex;
  justify-content: space-between;
}

/*******КОМАНДА (ИНДЕКС ШТМЛ)*******/

.comand-social-icon {
  fill: #afb1b8;
}

.comand-social-item {
  width: 44px;
  height: 44px;
}

.comand-social-item + .comand-social-item {
  margin-left: 10px;
  margin-bottom: 30px;
}

.comand-social-link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comand-social-link:hover,
.comand-social-link:focus {
  background-color: #2196f3;
}

.comand-social-link:hover .comand-social-icon,
.comand-social-link:focus .comand-social-icon {
  fill: #ffffff;
}

.comand-social-list {
  display: flex;
  justify-content: center;
}

.command {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.command-title {
  margin-bottom: 50px;
}

.command-list {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;
}

.command-name {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

.comand-text {
  text-align: center;
  margin-bottom: 30px;
}

.command-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-left: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.comand-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 18;
  letter-spacing: 0.03em;
  color: #757575;
}

.command-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}

/***************Клиенты**************/
.clients-link {
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: block;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:focus,
.clients-link:hover {
  border-color: #2196f3;
}

.clients-link:focus .clients-icon,
.clients-link:hover .clients-icon {
  fill: #2196f3;
}

.clients-heading {
  font-family: Roboto;
  font-style: 700;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 94px;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-item {
  margin-right: 30px;
  margin-top: 50px;
  margin-bottom: 94px;
}

.clients-item:last-child {
  margin-right: 0;
}

/*********Кнопки портфолио*********/

.examples {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip-path: inset(50%);
  margin: -1px;
}

.button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.div-btn {
  padding-bottom: 56px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  min-width: 73px;
  min-height: 38px;
}

.button {
  margin-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

/*******Пимеры (Портфолио)*********/

.list-item-wrap {
  position: relative;
  overflow: hidden;
}

.list-item-top-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: #fff;
  padding: 63px 24px;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms;
}

.list-item:focus,
.list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list-item:hover .list-item-top-text {
  transform: translateY(0);
}

.list-examples {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.item-title {
  padding-top: 20px;
  padding-bottom: 4px;
}

.list-item {
  flex-basis: calc((100% - 3 * 30px) / 9);
  margin-left: 24px;
  margin-bottom: 50px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.item-title {
  margin: 0px 24px 4px 24px;
}

.item-text {
  margin: 0px 24px 20px;
}

/********Модельное окно (модалка) **************/

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 1000ms, visibility 1000ms;
}

.backdrop .is-hidden .modal {
  transform: scale(1.5) rotate(200deg);
  transition: transform 1000ms;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: transform 1000ms;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/*******Форма в модальном окне*******/

.modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 45px;
  padding-right: 15px;
  outline: none;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: #2196f3;
}

.modal-form-input:focus + .input-svg {
  fill: #2196f3;
}

.modal-form-text {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px;
  outline: none;
}

.modal-area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-btn {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.modal-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.input-svg {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
}

.check-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-left: 5px;
}

.check-item {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-svg {
  fill: #ffffff;
}

.modal-check:checked + .check-text .check-item {
  background-color: #188ce8;
  border: none;
}

.check-field {
  display: flex;
}

.modal-close:focus .modal-close-icon,
.modal-close:hover .modal-close-icon {
  fill: #2196f3;
}
